<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AA1_CUP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AA1_CUP.Properties.Settings>
            <setting name="TestSetLocation" serializeAs="String">
                <value>E:\Dropbox\Master Course\SEM-3\ML\Cup\data-AA1-2016-CUP-v1\LOC-OSM2-TS.csv</value>
            </setting>
            <setting name="path2SaveModel" serializeAs="String">
                <value />
            </setting>
            <setting name="TestReportLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ROCParamsStorageLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="path2LoadModel" serializeAs="String">
                <value />
            </setting>
            <setting name="TrainingSetLocation" serializeAs="String">
                <value>E:\Dropbox\Master Course\SEM-3\ML\Cup\data-AA1-2016-CUP-v1\LOC-OSM2-TR.csv</value>
            </setting>
            <setting name="LearningCurveLocation" serializeAs="String">
                <value>learningCurve.txt</value>
            </setting>
        </AA1_CUP.Properties.Settings>
    </userSettings>
</configuration>