<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MLPTestDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MLPTestDemo.Properties.Settings>
            <setting name="TrainingSetLocation" serializeAs="String">
                <value>D:\dropbox\Dropbox\Master Course\SEM-3\ML\Monk\MONKS-DATASETS\dataset1train</value>
            </setting>
            <setting name="TestSetLocation" serializeAs="String">
                <value>D:\dropbox\Dropbox\Master Course\SEM-3\ML\Monk\MONKS-DATASETS\dataset1test</value>
            </setting>
            <setting name="path2SaveModel" serializeAs="String">
                <value>nw.AA1</value>
            </setting>
            <setting name="LearningCurveLocation" serializeAs="String">
                <value>learningcurve.txt</value>
            </setting>
            <setting name="TestReportLocation" serializeAs="String">
                <value>error.txt</value>
            </setting>
            <setting name="ROCParamsStorageLocation" serializeAs="String">
                <value>ROC.txt</value>
            </setting>
            <setting name="path2LoadModel" serializeAs="String">
                <value>D:\dropbox\Dropbox\Master Course\SEM-3\ML\MONKResults\nw.Monk3.AA1</value>
            </setting>
        </MLPTestDemo.Properties.Settings>
    </userSettings>
</configuration>